html {
	background: url("woodbg.jpg") no-repeat center center fixed;
}

body {
	padding-top: 20px;
	font-family: "Rokkitt", Helvetica, Arial;
	font-size: 20px;
	background: transparent;
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4 {
	margin-top: 0px;
	font-family: "Patua One", Helvetica, serif;
}

a > h3 {
	color: #333;
	text-decoration: underline;
}

address {
	line-height: 1.25 !important;
}

.btn {
	font-size: 20px !important;
}

.right {
	float: right;
	display: inline;
}

.glyphicon {
	font-size: 36px;
	color: #d0d0d0;
	display:block;
	line-height: 40px;
}

@media (min-width: 768px) {
	.container {
		max-width: 740px;
	}
}

header h1 {
	color: #FFF;
	font-size: 42px;
}

.jumbotron {
	padding: 20px !important;
	text-align: center;
	margin-bottom: 20px;
	background-color: rgba(238, 238, 238, 0.89);
}

.jumbotron p {
	margin-bottom: 0px;
	background-color: rgba(51, 72, 63, 0.16);
}

#content {
	border-radius: 6px;
	background-color: rgba(238, 238, 238, 0.89);
	padding: 20px;
}

.box {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
.box h2 {
	padding-bottom: 10px;
}

h2.boxTitle:after {
	border-bottom: 1px dashed #bbb;
	content: "";
	height: 0px;
	left: 50%;
	top: 102px;
	margin-left: -31.5px;
	position: absolute;
	width: 63px;
	margin-bottom: 0px;
}

.change {
	vertical-align: top;
	font-size: 70%;
	border-bottom: 1px solid;
	margin-top: 6px;
	line-height: 10px;
	display: inline-block;
}

.list-group-item  p {
	margin: 0;
}
